h1 {
	font-size: 36px;
}

.main-container {
	display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.link-list {
	text-decoration: none;
	list-style: none;
	padding: 0;
}

.link-list > li {
	text-align: center;
	padding: 10px 0;
}